In [1]:
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt
from sklearn.metrics import r2_score,mean_squared_error
from math import sqrt
%matplotlib inline

In [2]:
data = pd.read_csv('data.csv')

In [3]:
data.shape

(100, 17)

In [4]:
data_cpy = data.copy()
data_cpy1=data.copy()

In [5]:
data.head(10)

,pH,EC,OC,OM,N,P,K,Zn,Fe,Cu,Mn,Sand,Silt,Clay,CaCO3,CEC,Output
0,7.74,0.40,0.01,0.01,75,20.0,279,0.48,6.4,0.21,4.7,84.3,6.8,8.9,6.72,7.81,Fertile
1,9.02,0.31,0.02,0.03,85,15.7,247,0.27,6.4,0.16,5.6,90.4,3.9,5.7,4.61,7.19,Fertile
2,7.80,0.17,0.02,0.03,77,35.6,265,0.46,6.2,0.51,6.1,84.5,6.9,8.6,1.53,12.32,Fertile
3,8.36,0.02,0.03,0.05,106,6.4,127,0.50,3.1,0.28,2.3,93.9,1.7,4.4,0.00,1.60,Non Fertile
4,8.36,1.08,0.03,0.05,96,10.5,96,0.31,3.2,0.23,4.1,91.5,4.1,4.4,9.08,7.21,Non Fertile
5,8.36,0.73,0.03,0.05,151,10.5,230,0.38,2.5,0.37,4.2,94.2,1.5,4.3,6.23,3.34,Non Fertile
6,7.69,0.11,0.04,0.06,112,8.0,120,0.51,3.1,0.32,1.2,96.2,1.7,2.1,0.00,1.72,Non Fertile
7,8.39,0.06,0.04,0.06,125,18.5,145,0.67,2.8,0.18,1.8,87.9,4.8,7.3,0.00,7.34,Non Fertile
8,7.87,0.43,0.04,0.06,112,27.0,333,0.75,3.9,0.54,1.8,80.5,5.7,13.8,3.21,11.02,Fertile
9,8.09,0.62,0.04,0.06,89,28.2,146,0.53,3.8,0.71,3.9,80.2,9.5,10.3,8.51,8.94,Fertile

In [6]:
data['Output'].unique()

array(['Fertile', 'Non Fertile'], dtype=object)

In [7]:
data['Output'].nunique()

2

In [8]:
#Nrml

In [9]:
data['pH']=data['pH'].astype('int64')
data['EC']=data['EC'].astype('int64')
data['OC']=data['OC'].astype('int64')
data['OM']=data['OM'].astype('int64')
data['N']=data['N'].astype('int64')
data['P']=data['P'].astype('int64')
data['K']=data['K'].astype('int64')
data['Zn']=data['Zn'].astype('int64')
data['Fe']=data['Fe'].astype('int64')
data['Cu']=data['Cu'].astype('int64')
data['Mn']=data['Mn'].astype('int64')
data['Sand']=data['Sand'].astype('int64')
data['CaCO3']=data['CaCO3'].astype('int64')
data['CaCO3']=data['CaCO3'].astype('int64')

In [10]:
cnames = ['pH','EC','OC','OM','N','P','K','Zn','Fe','Cu','Mn','Sand','CaCO3','CEC',]

In [11]:
cnames

['pH',
 'EC',
 'OC',
 'OM',
 'N',
 'P',
 'K',
 'Zn',
 'Fe',
 'Cu',
 'Mn',
 'Sand',
 'CaCO3',
 'CEC']

In [12]:
for i in cnames:
    print(i)
    data_cpy1[i]=(data[i]-min(data[i]))/max(data[i]-min(data[i]))

pH
EC
OC
OM
N
P
K
Zn
Fe
Cu
Mn
Sand
CaCO3
CEC

In [13]:
data_cpy1

,pH,EC,OC,OM,N,P,K,Zn,Fe,Cu,Mn,Sand,Silt,Clay,CaCO3,CEC,Output
0,0.333333,0.0,NaN,0.0,0.000000,0.558824,0.509756,0.0,0.625,NaN,0.571429,0.368421,6.8,8.9,0.3750,0.438620,Fertile
1,1.000000,0.0,NaN,0.0,0.049261,0.411765,0.431707,0.0,0.625,NaN,0.714286,0.684211,3.9,5.7,0.2500,0.397478,Fertile
2,0.333333,0.0,NaN,0.0,0.009852,1.000000,0.475610,0.0,0.625,NaN,0.857143,0.368421,6.9,8.6,0.0625,0.737890,Fertile
3,0.666667,0.0,NaN,0.0,0.152709,0.147059,0.139024,0.0,0.250,NaN,0.285714,0.842105,1.7,4.4,0.0000,0.026543,Non Fertile
4,0.666667,1.0,NaN,0.0,0.103448,0.264706,0.063415,0.0,0.250,NaN,0.571429,0.736842,4.1,4.4,0.5625,0.398806,Non Fertile
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1.000000,0.0,NaN,1.0,1.000000,0.235294,0.231707,0.0,0.875,NaN,0.714286,0.578947,2.4,9.4,0.2500,0.504977,Fertile
96,0.333333,0.0,NaN,1.0,0.970443,0.235294,0.168293,0.0,0.125,NaN,0.142857,0.947368,1.4,3.2,0.0000,0.290644,Non Fertile
97,0.666667,0.0,NaN,1.0,0.995074,0.294118,0.473171,0.0,0.750,NaN,0.000000,0.684211,2.5,6.8,0.1875,0.402123,Fertile
98,0.666667,0.0,NaN,1.0,0.935961,0.088235,0.519512,0.0,0.250,NaN,0.000000,0.473684,6.7,7.3,0.0000,0.126078,Non Fertile
99,0.333333,0.0,NaN,1.0,0.995074,0.911765,0.417073,0.0,0.875,NaN,0.571429,0.157895,6.8,12.7,0.2500,0.352356,Fertile

In [14]:
data_cpy

,pH,EC,OC,OM,N,P,K,Zn,Fe,Cu,Mn,Sand,Silt,Clay,CaCO3,CEC,Output
0,7.74,0.40,0.01,0.01,75,20.0,279,0.48,6.4,0.21,4.7,84.3,6.8,8.9,6.72,7.81,Fertile
1,9.02,0.31,0.02,0.03,85,15.7,247,0.27,6.4,0.16,5.6,90.4,3.9,5.7,4.61,7.19,Fertile
2,7.80,0.17,0.02,0.03,77,35.6,265,0.46,6.2,0.51,6.1,84.5,6.9,8.6,1.53,12.32,Fertile
3,8.36,0.02,0.03,0.05,106,6.4,127,0.50,3.1,0.28,2.3,93.9,1.7,4.4,0.00,1.60,Non Fertile
4,8.36,1.08,0.03,0.05,96,10.5,96,0.31,3.2,0.23,4.1,91.5,4.1,4.4,9.08,7.21,Non Fertile
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,9.21,0.14,0.62,1.06,278,9.8,165,0.18,8.6,0.57,5.8,88.2,2.4,9.4,4.23,8.81,Fertile
96,7.50,0.22,0.68,1.17,272,9.5,139,0.72,2.6,0.12,1.8,95.4,1.4,3.2,0.00,5.58,Non Fertile
97,8.26,0.25,0.71,1.22,277,11.5,264,0.36,7.6,0.07,0.8,90.7,2.5,6.8,3.85,7.26,Fertile
98,8.12,0.14,0.73,1.25,265,4.6,283,0.38,3.7,0.18,0.8,86.0,6.7,7.3,0.00,3.10,Non Fertile
99,7.31,0.46,0.74,1.27,277,32.4,241,0.27,8.2,0.23,4.2,80.5,6.8,12.7,4.86,6.51,Fertile

In [15]:
for i in cnames:
    print(i)
    
    data_cpy[i] = data_cpy[i]-(data_cpy[i].mean())/data_cpy[i].std()

pH
EC
OC
OM
N
P
K
Zn
Fe
Cu
Mn
Sand
CaCO3
CEC

In [16]:
data_cpy

,pH,EC,OC,OM,N,P,K,Zn,Fe,Cu,Mn,Sand,Silt,Clay,CaCO3,CEC,Output
0,-7.980106,-0.694275,-1.134959,-1.117432,72.134599,18.427437,276.538027,-1.442201,3.932402,-1.55717,2.948014,67.569688,6.8,8.9,5.670055,6.025132,Fertile
1,-6.700106,-0.784275,-1.124959,-1.097432,82.134599,14.127437,244.538027,-1.652201,3.932402,-1.60717,3.848014,73.669688,3.9,5.7,3.560055,5.405132,Fertile
2,-7.920106,-0.924275,-1.124959,-1.097432,74.134599,34.027437,262.538027,-1.462201,3.732402,-1.25717,4.348014,67.769688,6.9,8.6,0.480055,10.535132,Fertile
3,-7.360106,-1.074275,-1.114959,-1.077432,103.134599,4.827437,124.538027,-1.422201,0.632402,-1.48717,0.548014,77.169688,1.7,4.4,-1.049945,-0.184868,Non Fertile
4,-7.360106,-0.014275,-1.114959,-1.077432,93.134599,8.927437,93.538027,-1.612201,0.732402,-1.53717,2.348014,74.769688,4.1,4.4,8.030055,5.425132,Non Fertile
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,-6.510106,-0.954275,-0.524959,-0.067432,275.134599,8.227437,162.538027,-1.742201,6.132402,-1.19717,4.048014,71.469688,2.4,9.4,3.180055,7.025132,Fertile
96,-8.220106,-0.874275,-0.464959,0.042568,269.134599,7.927437,136.538027,-1.202201,0.132402,-1.64717,0.048014,78.669688,1.4,3.2,-1.049945,3.795132,Non Fertile
97,-7.460106,-0.844275,-0.434959,0.092568,274.134599,9.927437,261.538027,-1.562201,5.132402,-1.69717,-0.951986,73.969688,2.5,6.8,2.800055,5.475132,Fertile
98,-7.600106,-0.954275,-0.414959,0.122568,262.134599,3.027437,280.538027,-1.542201,1.232402,-1.58717,-0.951986,69.269688,6.7,7.3,-1.049945,1.315132,Non Fertile
99,-8.410106,-0.634275,-0.404959,0.142568,274.134599,30.827437,238.538027,-1.652201,5.732402,-1.53717,2.448014,63.769688,6.8,12.7,3.810055,4.725132,Fertile

In [17]:
data

,pH,EC,OC,OM,N,P,K,Zn,Fe,Cu,Mn,Sand,Silt,Clay,CaCO3,CEC,Output
0,7,0,0,0,75,20,279,0,6,0,4,84,6.8,8.9,6,7.81,Fertile
1,9,0,0,0,85,15,247,0,6,0,5,90,3.9,5.7,4,7.19,Fertile
2,7,0,0,0,77,35,265,0,6,0,6,84,6.9,8.6,1,12.32,Fertile
3,8,0,0,0,106,6,127,0,3,0,2,93,1.7,4.4,0,1.60,Non Fertile
4,8,1,0,0,96,10,96,0,3,0,4,91,4.1,4.4,9,7.21,Non Fertile
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,9,0,0,1,278,9,165,0,8,0,5,88,2.4,9.4,4,8.81,Fertile
96,7,0,0,1,272,9,139,0,2,0,1,95,1.4,3.2,0,5.58,Non Fertile
97,8,0,0,1,277,11,264,0,7,0,0,90,2.5,6.8,3,7.26,Fertile
98,8,0,0,1,265,4,283,0,3,0,0,86,6.7,7.3,0,3.10,Non Fertile
99,7,0,0,1,277,32,241,0,8,0,4,80,6.8,12.7,4,6.51,Fertile

In [18]:
dep = data['count']0

KeyError: 'count'